In [1]:
#1. CREATE DATABASE USING SQLite

In [2]:
import sqlite3

In [3]:
# Connection to sqlite
# Connection object
conn = sqlite3.connect('INSTRUCTOR.db')

In [4]:
# cursor object
cursor_obj = conn.cursor()

In [5]:
#2. CREATE A TABLE IN THE DATABASE
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [6]:
# Creating table
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE VARCHAR(2));"""

cursor_obj.execute(table)
print("Table is Ready")

Table is Ready

In [8]:
#3. INSERT DATA INTO THE TABLE

In [9]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
(2, 'Raul', 'Chong', 'Markham', 'CA'),
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

In [10]:
#4. QUERY DATA IN THE TABLE

In [11]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [12]:
# Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
# specify the number of rows you want to fetch using fetchmany(numberofrows) 
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
    print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [13]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
    print(fetch)

All the data
('Rav',)
('Raul',)
('Hima',)

In [14]:
# Update Rav's CITY to MOOSETOWN
query_update = '''update INSTRUCTOR set CITY = 'MOOSETOWN' where FNAME = "Rav" '''
cursor_obj.execute(query_update)

In [15]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
    print(row)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [16]:
#5. RETRIEVE DATA INTO PANDAS

In [17]:
import pandas as pd
df = pd.read_sql_query("select * from instructor;", conn)
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [18]:
df.LNAME[0]

'Ahuja'

In [19]:
df.shape

(3, 5)

In [21]:
df.info

<bound method DataFrame.info of    ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US>

In [22]:
#6. CLOSE THE CONNECTION

In [23]:
conn.close()