In [2]:
from nba_api.stats.static import teams
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
def one_dict(list_dict):
    keys=list_dict[0].keys()
    out_dict={key:[] for key in keys}
    for dict_ in list_dict:
        for key, value in dict_.items():
            out_dict[key].append(value)
    return out_dictc

In [4]:
nba_teams = teams.get_teams()

In [5]:
nba_teams

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970},
 {'id': 1610612740,
  'full_name': 'New Orleans Pelicans',
  'abbreviation': 'NOP',
  'nickname': 'Pelicans',
  'city': 'New Orleans',
  'state': 'Louisiana',
  'year_founded': 2002},
 {'id': 1610612741,
  'full_name': 'Chicago Bulls',
  'abbreviation': 'CHI',
  'nickname': 'Bulls',
  'city': 'Chicago',
  'state': 'Illinois',
  'year_founded': 1966},
 {'id': 1610612742,
  'full_name': 'Dallas Mavericks',
  'abbreviation': 'DAL',
  'nickname': 'Mavericks',
  'city': 'Dallas',
  'state': 'Texas',
  'year_founded': 1980},
 {'id': 1610612743,
  'full_name': 'Denver Nuggets',
  'abbreviation': 'DEN',
  'nickname': 'Nuggets',
  'city': 'Denver',
  'state': 'Colorado',
  'year_founded': 1976},
 {'id': 1610612744,
  'full_name': 'Golden State Warriors',
  'abbreviation': 'GSW',
  'nickname': 'Warriors',
  'city': 'Golden State',
  'state': 'California',
  'year_founded': 1946},
 {'id': 1610612745,
  'full_name': 'Houston Rockets',
  'abbreviation': 'HOU',
  'nickname': 'Rockets',
  'city': 'Houston',
  'state': 'Texas',
  'year_founded': 1967},
 {'id': 1610612746,
  'full_name': 'Los Angeles Clippers',
  'abbreviation': 'LAC',
  'nickname': 'Clippers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1970},
 {'id': 1610612747,
  'full_name': 'Los Angeles Lakers',
  'abbreviation': 'LAL',
  'nickname': 'Lakers',
  'city': 'Los Angeles',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612748,
  'full_name': 'Miami Heat',
  'abbreviation': 'MIA',
  'nickname': 'Heat',
  'city': 'Miami',
  'state': 'Florida',
  'year_founded': 1988},
 {'id': 1610612749,
  'full_name': 'Milwaukee Bucks',
  'abbreviation': 'MIL',
  'nickname': 'Bucks',
  'city': 'Milwaukee',
  'state': 'Wisconsin',
  'year_founded': 1968},
 {'id': 1610612750,
  'full_name': 'Minnesota Timberwolves',
  'abbreviation': 'MIN',
  'nickname': 'Timberwolves',
  'city': 'Minnesota',
  'state': 'Minnesota',
  'year_founded': 1989},
 {'id': 1610612751,
  'full_name': 'Brooklyn Nets',
  'abbreviation': 'BKN',
  'nickname': 'Nets',
  'city': 'Brooklyn',
  'state': 'New York',
  'year_founded': 1976},
 {'id': 1610612752,
  'full_name': 'New York Knicks',
  'abbreviation': 'NYK',
  'nickname': 'Knicks',
  'city': 'New York',
  'state': 'New York',
  'year_founded': 1946},
 {'id': 1610612753,
  'full_name': 'Orlando Magic',
  'abbreviation': 'ORL',
  'nickname': 'Magic',
  'city': 'Orlando',
  'state': 'Florida',
  'year_founded': 1989},
 {'id': 1610612754,
  'full_name': 'Indiana Pacers',
  'abbreviation': 'IND',
  'nickname': 'Pacers',
  'city': 'Indiana',
  'state': 'Indiana',
  'year_founded': 1976},
 {'id': 1610612755,
  'full_name': 'Philadelphia 76ers',
  'abbreviation': 'PHI',
  'nickname': '76ers',
  'city': 'Philadelphia',
  'state': 'Pennsylvania',
  'year_founded': 1949},
 {'id': 1610612756,
  'full_name': 'Phoenix Suns',
  'abbreviation': 'PHX',
  'nickname': 'Suns',
  'city': 'Phoenix',
  'state': 'Arizona',
  'year_founded': 1968},
 {'id': 1610612757,
  'full_name': 'Portland Trail Blazers',
  'abbreviation': 'POR',
  'nickname': 'Trail Blazers',
  'city': 'Portland',
  'state': 'Oregon',
  'year_founded': 1970},
 {'id': 1610612758,
  'full_name': 'Sacramento Kings',
  'abbreviation': 'SAC',
  'nickname': 'Kings',
  'city': 'Sacramento',
  'state': 'California',
  'year_founded': 1948},
 {'id': 1610612759,
  'full_name': 'San Antonio Spurs',
  'abbreviation': 'SAS',
  'nickname': 'Spurs',
  'city': 'San Antonio',
  'state': 'Texas',
  'year_founded': 1976},
 {'id': 1610612760,
  'full_name': 'Oklahoma City Thunder',
  'abbreviation': 'OKC',
  'nickname': 'Thunder',
  'city': 'Oklahoma City',
  'state': 'Oklahoma',
  'year_founded': 1967},
 {'id': 1610612761,
  'full_name': 'Toronto Raptors',
  'abbreviation': 'TOR',
  'nickname': 'Raptors',
  'city': 'Toronto',
  'state': 'Ontario',
  'year_founded': 1995},
 {'id': 1610612762,
  'full_name': 'Utah Jazz',
  'abbreviation': 'UTA',
  'nickname': 'Jazz',
  'city': 'Utah',
  'state': 'Utah',
  'year_founded': 1974},
 {'id': 1610612763,
  'full_name': 'Memphis Grizzlies',
  'abbreviation': 'MEM',
  'nickname': 'Grizzlies',
  'city': 'Memphis',
  'state': 'Tennessee',
  'year_founded': 1995},
 {'id': 1610612764,
  'full_name': 'Washington Wizards',
  'abbreviation': 'WAS',
  'nickname': 'Wizards',
  'city': 'Washington',
  'state': 'District of Columbia',
  'year_founded': 1961},
 {'id': 1610612765,
  'full_name': 'Detroit Pistons',
  'abbreviation': 'DET',
  'nickname': 'Pistons',
  'city': 'Detroit',
  'state': 'Michigan',
  'year_founded': 1948},
 {'id': 1610612766,
  'full_name': 'Charlotte Hornets',
  'abbreviation': 'CHA',
  'nickname': 'Hornets',
  'city': 'Charlotte',
  'state': 'North Carolina',
  'year_founded': 1988}]

In [7]:
#dict_nba_team=one_dict(nba_teams)
#df_teams=pd.DataFrame(dict_nba_team)
df_teams= pd.DataFrame(nba_teams)
df_teams.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [8]:
import requests
url = 'https://www.ibm.com/'
r = requests.get(url)

In [9]:
r.status_code

200

In [10]:
r.request.headers

{'User-Agent': 'python-requests/2.31.0', 'Accept-Encoding': 'gzip, deflate, br', 'Accept': '*/*', 'Connection': 'keep-alive', 'Cookie': '_abck=040A04FF12B0163C48CFADF07BDD2FB7~-1~YAAQRl+MT6OSO5iOAQAAL6X0ngtfkHNPkQelOgDKZ0UgS0TWpC45LfMt5vbRaacwjqpGUWHumM8I4e7CNb1VyvFMcGi729jj0Y/kev/b1qpfQQ+cw/Htwyx9nq9ZqRZO1YeJ3ejUSkLx6yWmwoDHf1S/d3w+ooea6BZ3uDTuVFsjmtmHTtcU2DTILvi+BLalRF02j7kKsbZVRzoLLnnRqzeJWKK0Wi8TwiYrysw71t1G0ENfkCw1Jn65uHRGq1ze8z6mvj8VPVbeT/MHYTruMTFaCgwCrb4eVNIrkXQ0ggZrbgJ1d59VNJgMnnUXAVSOu8nDFT9gdXkgcySnvICZKuDXbybTDwq7vOudj2EfjsRVgw6eALs=~-1~-1~-1; bm_sz=FE0A198924B3CA18FA73A06380F73457~YAAQRl+MT6SSO5iOAQAAL6X0nhdXQ8jRF7aRjvuM5cvc79/ycxr2Gfp1++NkwASNFSz7hgVUd4SjfdvtOT2zsbajXouo5eWQpBvPlzv9D/zUj5PlKO9xyb2cBF35b9zPai1RFhjz01blAnSKTUPOGkOpwWeZifmGvgVGu0kWpUBQwg2fttEkML6h5Srtmj5KupKOv/ncqDOBdxmFYztlclG5r+dvv9yazi8e/H6uQ27dq4BPeQkUHIELNAiLszFrz+IG+Q11aa9bDJ51ywb1+2s4cGODcsGEuFTAolI8jh5AiOGg9oSGmOv0PgzWUVxbCgdtz62zBWoAPKYkSIZe+0IN3eoHBRBbTfB8~3487301~3356208'}

In [11]:
r.request.body

In [12]:
header = r.headers
header

{'Content-Security-Policy': 'upgrade-insecure-requests', 'x-frame-options': 'SAMEORIGIN', 'Last-Modified': 'Tue, 02 Apr 2024 12:18:39 GMT', 'ETag': '"15958-6151c1b32708c-gzip"', 'Accept-Ranges': 'bytes', 'Content-Type': 'text/html;charset=utf-8', 'X-Content-Type-Options': 'nosniff', 'Cache-Control': 'max-age=900', 'Expires': 'Tue, 02 Apr 2024 13:31:57 GMT', 'X-Akamai-Transformed': '9 12400 0 pmb=mTOE,2', 'Content-Encoding': 'gzip', 'Date': 'Tue, 02 Apr 2024 13:16:57 GMT', 'Content-Length': '12589', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding', 'Strict-Transport-Security': 'max-age=31536000'}

In [13]:
header['date']

'Tue, 02 Apr 2024 13:16:57 GMT'

In [14]:
header['Content-Type']

'text/html;charset=utf-8'

In [15]:
r.encoding

'utf-8'

In [16]:
r.text[0:100]

'\n<!DOCTYPE HTML>\n<html lang="en-us">\n<head>\r\n    \r\n    \r\n    \r\n    \r\n    <meta charset="UTF-8"/>\r\n  '

In [17]:
# Create Query String

url_get = 'http://httpbin.org/get'
payload = {"name": "Joseph", "ID": "123"}

#pass the dictionary payload to the params parameter of the get function
r = requests.get(url_get, params=payload)

r.url

'http://httpbin.org/get?name=Joseph&ID=123'

In [18]:
print(r.request.body)

None

In [19]:
r.status_code

200

In [20]:
r.text

'{\n  "args": {\n    "ID": "123", \n    "name": "Joseph"\n  }, \n  "headers": {\n    "Accept": "*/*", \n    "Accept-Encoding": "gzip, deflate, br", \n    "Cache-Control": "max-age=0", \n    "Host": "httpbin.org", \n    "User-Agent": "python-requests/2.31.0", \n    "X-Amzn-Trace-Id": "Root=1-660c0560-0ae5d70c7f59b1e6623911cb"\n  }, \n  "origin": "41.217.1.69", \n  "url": "http://httpbin.org/get?name=Joseph&ID=123"\n}\n'

In [21]:
r.headers['Content-Type']

'application/json'

In [22]:
r.json()

{'args': {'ID': '123', 'name': 'Joseph'},
 'headers': {'Accept': '*/*',
  'Accept-Encoding': 'gzip, deflate, br',
  'Cache-Control': 'max-age=0',
  'Host': 'httpbin.org',
  'User-Agent': 'python-requests/2.31.0',
  'X-Amzn-Trace-Id': 'Root=1-660c0560-0ae5d70c7f59b1e6623911cb'},
 'origin': '41.217.1.69',
 'url': 'http://httpbin.org/get?name=Joseph&ID=123'}

In [23]:
r.json()['args']

{'ID': '123', 'name': 'Joseph'}

In [24]:
#Post Requests

url_post = "http://httpbin.org/post"

payload = {"name" : "Joseph", "ID": "123"}

r_post = requests.post(url_post, data= payload)
print("POST request URL: ", r_post.url)
print("GET request URL: ", r.url)

POST request URL:  http://httpbin.org/post
GET request URL:  http://httpbin.org/get?name=Joseph&ID=123

In [25]:
print("POST request URL: ", r_post.request.body)
print("GET request URL: ", r.request.body)

POST request URL:  name=Joseph&ID=123
GET request URL:  None

In [26]:
#pip install randomuser

Requirement already satisfied: randomuser in c:\users\user\anaconda3\anaconda3 folder\lib\site-packages (1.6)
Note: you may need to restart the kernel to use updated packages.

In [27]:
from randomuser import RandomUser
import pandas as pd