In [2]:
import pandas as pd
import numpy as np

In [3]:
df_dem = pd.read_csv("C:/Users/user/Downloads/m5_survey_data_demographics.csv")
df_norm = pd.read_csv("C:/Users/user/Downloads/m5_survey_data_technologies_normalised.csv")

In [43]:
df_norm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74589 entries, 1 to 74589
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              74589 non-null  float64
 1   LanguageWorkedWith      74589 non-null  object
 2   LanguageDesireNextYear  74589 non-null  object
 3   DatabaseWorkedWith      74589 non-null  object
 4   DatabaseDesireNextYear  74589 non-null  object
 5   PlatformWorkedWith      74589 non-null  object
 6   PlatformDesireNextYear  74589 non-null  object
 7   WebFrameWorkedWith      74589 non-null  object
 8   WebFrameDesireNextYear  74589 non-null  object
 9   DevEnviron              74589 non-null  object
dtypes: float64(1), object(9)
memory usage: 6.3+ MB

In [5]:
df_norm['DevEnviron'].value_counts()

DevEnviron
Visual Studio Code    6639
Visual Studio         4027
Notepad++             3439
IntelliJ              3094
Vim                   3040
Sublime Text          2638
Android Studio        1691
PyCharm               1448
Eclipse               1373
Atom                  1322
Xcode                 1037
IPython / Jupyter      995
PHPStorm               936
NetBeans               519
Emacs                  448
RStudio                314
RubyMine               170
TextMate                74
Coda                    52
Komodo                  25
Zend                    18
Light Table              7
Name: count, dtype: int64

In [6]:
df_norm.replace(['', 'None', 'NA', '?'], np.nan, inplace = True)

In [41]:
missing = df_norm.isnull()

for column in missing.columns.values.tolist():
    print(missing[column].value_counts())
    print('------------------------------')

Respondent
False    74589
Name: count, dtype: int64
------------------------------
LanguageWorkedWith
False    74589
Name: count, dtype: int64
------------------------------
LanguageDesireNextYear
False    74589
Name: count, dtype: int64
------------------------------
DatabaseWorkedWith
False    74589
Name: count, dtype: int64
------------------------------
DatabaseDesireNextYear
False    74589
Name: count, dtype: int64
------------------------------
PlatformWorkedWith
False    74589
Name: count, dtype: int64
------------------------------
PlatformDesireNextYear
False    74589
Name: count, dtype: int64
------------------------------
WebFrameWorkedWith
False    74589
Name: count, dtype: int64
------------------------------
WebFrameDesireNextYear
False    74589
Name: count, dtype: int64
------------------------------
DevEnviron
False    74589
Name: count, dtype: int64
------------------------------

In [8]:
df_norm.drop(['OpSys', 'Containers', 'BlockchainOrg', 'BlockchainIs'], axis = 1, inplace = True)

In [9]:
df_norm.dropna(subset = 'Respondent', inplace = True)

In [10]:
df_norm.replace(np.nan, 'Unknown', inplace = True)

In [20]:
df_norm.dtypes

Respondent                float64
LanguageWorkedWith         object
LanguageDesireNextYear     object
DatabaseWorkedWith         object
DatabaseDesireNextYear     object
PlatformWorkedWith         object
PlatformDesireNextYear     object
WebFrameWorkedWith         object
WebFrameDesireNextYear     object
DevEnviron                 object
dtype: object

In [34]:
df_norm['LanguageWorkedWith'].unique()

array(['C', 'C++', 'C#', 'Python', 'SQL', 'Bash/Shell/PowerShell',
       'HTML/CSS', 'JavaScript', 'Ruby', 'Rust', 'TypeScript',
       'WebAssembly', 'Other(s):', 'PHP', 'Unknown', 'VBA', 'Java', 'R',
       'Swift', 'Objective-C', 'Go', 'Kotlin', 'F#', 'Erlang', 'Assembly',
       'Scala', 'Elixir', 'Clojure', 'Dart'], dtype=object)

In [27]:
df_norm.to_csv('m5_survey_data_technologies_normalised.csv', index = False)

In [38]:
df_dem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11398 entries, 0 to 11397
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Respondent      11398 non-null  int64
 1   MainBranch      11398 non-null  object
 2   Hobbyist        11398 non-null  object
 3   OpenSourcer     11398 non-null  object
 4   OpenSource      11317 non-null  object
 5   Employment      11398 non-null  object
 6   Country         11398 non-null  object
 7   Student         11347 non-null  object
 8   EdLevel         11286 non-null  object
 9   UndergradMajor  10661 non-null  object
 10  EduOther        11234 non-null  object
 11  OrgSize         11302 non-null  object
 12  DevType         11333 non-null  object
 13  YearsCode       11389 non-null  object
 14  Age1stCode      11385 non-null  object
 15  YearsCodePro    11382 non-null  object
 16  CareerSat       11398 non-null  object
 17  JobSat          11397 non-null  object
 18  MgrIdiot        10905 non-null  object
 19  MgrMoney        10901 non-null  object
 20  MgrWant         10905 non-null  object
 21  JobSeek         11398 non-null  object
 22  LastHireDate    11398 non-null  object
 23  LastInt         10985 non-null  object
 24  FizzBuzz        11361 non-null  object
 25  JobFactors      11395 non-null  object
 26  ResumeUpdate    11359 non-null  object
 27  CurrencySymbol  11398 non-null  object
 28  CurrencyDesc    11398 non-null  object
 29  CompTotal       10589 non-null  float64
 30  CompFreq        11192 non-null  object
 31  ConvertedComp   10582 non-null  float64
 32  WorkWeekHrs     11276 non-null  float64
 33  WorkPlan        11277 non-null  object
 34  WorkChallenge   11234 non-null  object
 35  WorkRemote      11390 non-null  object
 36  WorkLoc         11366 non-null  object
 37  ImpSyn          11393 non-null  object
 38  CodeRev         11397 non-null  object
 39  CodeRevHrs      8972 non-null   float64
 40  UnitTests       11369 non-null  object
 41  PurchaseHow     11202 non-null  object
 42  PurchaseWhat    11360 non-null  object
 43  BetterLife      11300 non-null  object
 44  ITperson        11363 non-null  object
 45  OffOn           11360 non-null  object
 46  SocialMedia     11105 non-null  object
 47  Extraversion    11378 non-null  object
 48  ScreenName      10891 non-null  object
 49  SOVisit1st      11073 non-null  object
 50  SOVisitFreq     11393 non-null  object
 51  SOVisitTo       11397 non-null  object
 52  SOFindAnswer    11395 non-null  object
 53  SOTimeSaved     11348 non-null  object
 54  SOHowMuchTime   9481 non-null   object
 55  SOAccount       11397 non-null  object
 56  SOPartFreq      10270 non-null  object
 57  SOJobs          11392 non-null  object
 58  EntTeams        11393 non-null  object
 59  SOComm          11398 non-null  object
 60  WelcomeChange   11313 non-null  object
 61  SONewContent    9433 non-null   object
 62  Age             11111 non-null  float64
 63  Gender          11325 non-null  object
 64  Trans           11275 non-null  object
 65  Sexuality       10856 non-null  object
 66  Ethnicity       10723 non-null  object
 67  Dependents      11258 non-null  object
 68  SurveyLength    11379 non-null  object
 69  SurveyEase      11384 non-null  object
dtypes: float64(5), int64(1), object(64)
memory usage: 6.1+ MB

In [48]:
df_dem['Age']

0        22.0
1        23.0
2        28.0
3        26.0
4        29.0
         ...
11393    36.0
11394    25.0
11395    34.0
11396    25.0
11397    30.0
Name: Age, Length: 11398, dtype: float64