## Warm-Up Exercise

Using an API, let us find out who currently are on the International Space Station (ISS).
The API at http://api.open-notify.org/astros.json gives the information of astronauts currently on ISS in json format.
You can read more about this API at http://open-notify.org/Open-Notify-API/People-In-Space/

In [1]:
import requests
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url)

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
print(data)

{'people': [{'craft': 'ISS', 'name': 'Oleg Kononenko'}, {'craft': 'ISS', 'name': 'Nikolai Chub'}, {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}, {'craft': 'ISS', 'name': 'Matthew Dominick'}, {'craft': 'ISS', 'name': 'Michael Barratt'}, {'craft': 'ISS', 'name': 'Jeanette Epps'}, {'craft': 'ISS', 'name': 'Alexander Grebenkin'}, {'craft': 'ISS', 'name': 'Butch Wilmore'}, {'craft': 'ISS', 'name': 'Sunita Williams'}, {'craft': 'Tiangong', 'name': 'Li Guangsu'}, {'craft': 'Tiangong', 'name': 'Li Cong'}, {'craft': 'Tiangong', 'name': 'Ye Guangfu'}], 'number': 12, 'message': 'success'}

Print the number of astronauts currently on ISS

In [6]:
print(data.get('number'))

12

 Print the names of the astronauts currently on ISS

In [7]:
astronauts = data.get('people')
print('There are {} astronauts on ISS'.format(len(astronauts)))
print('And their names are :')
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 12 astronauts on ISS
And their names are :
Oleg Kononenko
Nikolai Chub
Tracy Caldwell Dyson
Matthew Dominick
Michael Barratt
Jeanette Epps
Alexander Grebenkin
Butch Wilmore
Sunita Williams
Li Guangsu
Li Cong
Ye Guangfu

# Lab: Collect Jobs Data using GitHub Jobs API

### Objective: Determine the number of jobs currently open for various technologies and for various locations.

Collect the number of job postings for the following locations using the API:
* Los Angeles
* New York
* San Fransisco
* Washington DC
* Seattle
* Austin
* Detroit

In [8]:
# Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [126]:
api_url = 'http://127.0.0.1:5000/data/all'
def get_number_of_jobs_T(technology):
    number_of_jobs = 0
    
    # Make a request to the Flask API with the technology as a query parameter
    response = requests.get(api_url, params={'key Skills': technology})
    
    # Check if the request was successful
    if response.status_code == 200:
        # Convert the response data to JSON
        jobs_data = response.json()
        # Count the number of jobs returned
        number_of_jobs = len(jobs_data)
    else:
        print(f"Error fetching data for {technology}: {response.status_code}")
    
    return technology, number_of_jobs

In [145]:
# calling the function
tech, num_jobs = get_number_of_jobs_T('Oracle')
print(f"{tech}: {num_jobs} jobs currently open")

Oracle: 27005 jobs currently open

#### Write a function to find number of jobs in US for a location of your choice

In [134]:
def get_number_jobs_L(location):
    number_of_jobs = 0
    
    # Make a request to the Flask API with the location as a queery parameter
    response = requests.get(api_url, params={'Location': location})
    
    # check if the request was successful:
    if response.status_code == 200:
        #convert the response data into json
        jobs_data = response.json()
        # count the number of jobs returned
        number_of_jobs = len(jobs_data)
    else:
         print(f"Error fetching data for {location}: {response.status_code}")
    
    return location, number_of_jobs

Call the function for Los Angeles and check if it is working.

In [146]:
loc, num_jobs = get_number_jobs_L('New York')
print(f"{loc} currently has {num_jobs} jobs currently open")

New York currently has 27005 jobs currently open

#### Store the results in an excel file

Create a python list of all technologies for which you need the number of jobs postings

In [141]:
# create an empty list of all technologies list:
tech = [
    'Python',
    'Java',
    'C++',
    'JavaScript',
    'C#',
    'Oracle',
    'SQL Server',
    'MySL Server',
    'PostgreSQL',
    'MongoDB'
]

for tech in technologies:
    technology, num_jobs =

Import libraries required to create excel spreadsheet