In [1]:
import pandas as pd
import requests

In [2]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"
df = pd.read_csv(file_path)

### Finding duplicates 

How many duplicate rows exist in the dataframe?

In [3]:
# Number of duplicated rows that exist in the dataframe:
df.duplicated().sum()

154

How many duplicate values are there in the column Respondent?

In [4]:
print('The number of duplicate values in Respondent :', df['Respondent'].duplicated().sum())

The number of duplicate values in Respondent : 154

### Removing the duplicates

Remove the duplicate rows from the dataframe

In [5]:
# This code will drop all the rows with duplicates with 'drop_duplicates'
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped

In [6]:
df.duplicated().any()

False

After removing the duplicate rows, how many unique rows are there in the column Respondent?

In [30]:
df['Respondent'].nunique()

11398

After removing the duplicate rows, how many respondents are being paid yearly?

In [24]:
(df['CompFreq'] == 'Yearly').sum()

6073

### Finding Missing values

Find the missing values for all columns

In [7]:
missing_values = df.isnull()

In [16]:
# This for loop will give a list of all the columns and the number of missing values
for column in missing_values.columns.values.tolist():
    print(missing_values[column].value_counts())
    print('--------------------')

Respondent
False    11398
Name: count, dtype: int64
--------------------
MainBranch
False    11398
Name: count, dtype: int64
--------------------
Hobbyist
False    11398
Name: count, dtype: int64
--------------------
OpenSourcer
False    11398
Name: count, dtype: int64
--------------------
OpenSource
False    11317
True        81
Name: count, dtype: int64
--------------------
Employment
False    11398
Name: count, dtype: int64
--------------------
Country
False    11398
Name: count, dtype: int64
--------------------
Student
False    11347
True        51
Name: count, dtype: int64
--------------------
EdLevel
False    11286
True       112
Name: count, dtype: int64
--------------------
UndergradMajor
False    10661
True       737
Name: count, dtype: int64
--------------------
EduOther
False    11234
True       164
Name: count, dtype: int64
--------------------
OrgSize
False    11302
True        96
Name: count, dtype: int64
--------------------
DevType
False    11333
True        65
Name: count, dtype: int64
--------------------
YearsCode
False    11389
True         9
Name: count, dtype: int64
--------------------
Age1stCode
False    11385
True        13
Name: count, dtype: int64
--------------------
YearsCodePro
False    11382
True        16
Name: count, dtype: int64
--------------------
CareerSat
False    11398
Name: count, dtype: int64
--------------------
JobSat
False    11397
True         1
Name: count, dtype: int64
--------------------
MgrIdiot
False    10905
True       493
Name: count, dtype: int64
--------------------
MgrMoney
False    10901
True       497
Name: count, dtype: int64
--------------------
MgrWant
False    10905
True       493
Name: count, dtype: int64
--------------------
JobSeek
False    11398
Name: count, dtype: int64
--------------------
LastHireDate
False    11398
Name: count, dtype: int64
--------------------
LastInt
False    10985
True       413
Name: count, dtype: int64
--------------------
FizzBuzz
False    11361
True        37
Name: count, dtype: int64
--------------------
JobFactors
False    11395
True         3
Name: count, dtype: int64
--------------------
ResumeUpdate
False    11359
True        39
Name: count, dtype: int64
--------------------
CurrencySymbol
False    11398
Name: count, dtype: int64
--------------------
CurrencyDesc
False    11398
Name: count, dtype: int64
--------------------
CompTotal
False    10589
True       809
Name: count, dtype: int64
--------------------
CompFreq
False    11192
True       206
Name: count, dtype: int64
--------------------
ConvertedComp
False    10582
True       816
Name: count, dtype: int64
--------------------
WorkWeekHrs
False    11276
True       122
Name: count, dtype: int64
--------------------
WorkPlan
False    11277
True       121
Name: count, dtype: int64
--------------------
WorkChallenge
False    11234
True       164
Name: count, dtype: int64
--------------------
WorkRemote
False    11390
True         8
Name: count, dtype: int64
--------------------
WorkLoc
False    11366
True        32
Name: count, dtype: int64
--------------------
ImpSyn
False    11393
True         5
Name: count, dtype: int64
--------------------
CodeRev
False    11397
True         1
Name: count, dtype: int64
--------------------
CodeRevHrs
False    8972
True     2426
Name: count, dtype: int64
--------------------
UnitTests
False    11369
True        29
Name: count, dtype: int64
--------------------
PurchaseHow
False    11202
True       196
Name: count, dtype: int64
--------------------
PurchaseWhat
False    11360
True        38
Name: count, dtype: int64
--------------------
LanguageWorkedWith
False    11387
True        11
Name: count, dtype: int64
--------------------
LanguageDesireNextYear
False    11264
True       134
Name: count, dtype: int64
--------------------
DatabaseWorkedWith
False    10945
True       453
Name: count, dtype: int64
--------------------
DatabaseDesireNextYear
False    10356
True      1042
Name: count, dtype: int64
--------------------
PlatformWorkedWith
False    10987
True       411
Name: count, dtype: int64
--------------------
PlatformDesireNextYear
False    10854
True       544
Name: count, dtype: int64
--------------------
WebFrameWorkedWith
False    10005
True      1393
Name: count, dtype: int64
--------------------
WebFrameDesireNextYear
False    9781
True     1617
Name: count, dtype: int64
--------------------
MiscTechWorkedWith
False    9216
True     2182
Name: count, dtype: int64
--------------------
MiscTechDesireNextYear
False    9943
True     1455
Name: count, dtype: int64
--------------------
DevEnviron
False    11369
True        29
Name: count, dtype: int64
--------------------
OpSys
False    11364
True        34
Name: count, dtype: int64
--------------------
Containers
False    11316
True        82
Name: count, dtype: int64
--------------------
BlockchainOrg
False    9076
True     2322
Name: count, dtype: int64
--------------------
BlockchainIs
False    8788
True     2610
Name: count, dtype: int64
--------------------
BetterLife
False    11300
True        98
Name: count, dtype: int64
--------------------
ITperson
False    11363
True        35
Name: count, dtype: int64
--------------------
OffOn
False    11360
True        38
Name: count, dtype: int64
--------------------
SocialMedia
False    11105
True       293
Name: count, dtype: int64
--------------------
Extraversion
False    11378
True        20
Name: count, dtype: int64
--------------------
ScreenName
False    10891
True       507
Name: count, dtype: int64
--------------------
SOVisit1st
False    11073
True       325
Name: count, dtype: int64
--------------------
SOVisitFreq
False    11393
True         5
Name: count, dtype: int64
--------------------
SOVisitTo
False    11397
True         1
Name: count, dtype: int64
--------------------
SOFindAnswer
False    11395
True         3
Name: count, dtype: int64
--------------------
SOTimeSaved
False    11348
True        50
Name: count, dtype: int64
--------------------
SOHowMuchTime
False    9481
True     1917
Name: count, dtype: int64
--------------------
SOAccount
False    11397
True         1
Name: count, dtype: int64
--------------------
SOPartFreq
False    10270
True      1128
Name: count, dtype: int64
--------------------
SOJobs
False    11392
True         6
Name: count, dtype: int64
--------------------
EntTeams
False    11393
True         5
Name: count, dtype: int64
--------------------
SOComm
False    11398
Name: count, dtype: int64
--------------------
WelcomeChange
False    11313
True        85
Name: count, dtype: int64
--------------------
SONewContent
False    9433
True     1965
Name: count, dtype: int64
--------------------
Age
False    11111
True       287
Name: count, dtype: int64
--------------------
Gender
False    11325
True        73
Name: count, dtype: int64
--------------------
Trans
False    11275
True       123
Name: count, dtype: int64
--------------------
Sexuality
False    10856
True       542
Name: count, dtype: int64
--------------------
Ethnicity
False    10723
True       675
Name: count, dtype: int64
--------------------
Dependents
False    11258
True       140
Name: count, dtype: int64
--------------------
SurveyLength
False    11379
True        19
Name: count, dtype: int64
--------------------
SurveyEase
False    11384
True        14
Name: count, dtype: int64
--------------------

Find out how many rows are missing in the column 'WorkLoc'

In [9]:
missing_values['WorkLoc'].value_counts()

WorkLoc
False    11366
True        32
Name: count, dtype: int64

### Imputing missing values 

Find the value counts for the column WorkLoc

In [10]:
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column

In [11]:
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [12]:
import numpy as np
df['WorkLoc'].replace(np.nan, 'Office', inplace = True)

Verify if impurting was successful

In [13]:

df['WorkLoc'].isnull().any()

False

### Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

------

List out the various categories in the column 'CompFreq'

In [14]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'.

In [15]:
df['NormalizedAnnualCompensation'] = np.where(
    df['CompFreq'] == 'Yearly', df['CompTotal'],
    np.where(df['CompFreq'] == 'Monthly', df['CompTotal'] * 12,
    np.where(df['CompFreq'] == 'Weekly', df['CompTotal'] * 52, np.nan))
)

In [27]:
df['NormalizedAnnualCompensation'].median()

100000.0